body {
    background-color: silver;
    padding-top: 2em;
    text-align: center
}


h1 {
    color: maroon;
}

.friends{
    align-content: center;
    border: 2px;
    border-style: inset;
    border-radius: 3px;
    border-width: 75%;
    color: black;
    padding: 1em;
    margin: 1em;
    box-shadow: 2px;
}

p {
    border: 2px;
    margin: 1em;
    border-style: inset;
    border-radius: 5px;
}

h3 {
    text-transform: uppercase;
}

p {
    color: rebeccapurple;
}